* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* 
could not apply the padding correctly of 0 1rem; without !important unless i added an id 
to the nav element in Navbar component. possible that Bootstrap already has a className
called nav that had higher precedence 
*/

#navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
}