/* General */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0066b2;
}

/* Navbar component css */

#main-navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav a:hover {
    color:inherit
}

.nav li.active {
    background-color: #555;
}

.nav li:hover {
    background-color: #777;
}

/* Form page css */

.survey-box {
    border: 2px;
    padding: 20px;
    margin: 20px auto; /* centers the survey */
    width: 50%;
    border-radius: 8px; /* rounded corners */
    background-color: #f0f8ff;
  }

.form-submit {
  margin-top: 20px;
  background-color: #f0f8ff;
  padding: 10px;
  width: 20%;
  color: black;
  border-radius: 8px;
  border: 2px solid #0066b2;
}

/* Question components css */

.question {
  margin-bottom: 20px;
}

.question p {
  font-weight: bold;
}

.question label {
  margin-right: 10px;
}

.rating-button {
  margin-right: 5px;
}

/* Table component css */

.data-table {
  margin-top: 20px;
  background-color: white;
  border: 2px solid;
}

.table-header {
  background-color: #333;
  color: white
}