/* 
step 5: styling the page

5.1 choose a background color
5.2 style the navbar
5.3 style the form page, the survey, and the submit button
5.4 style the data page, and the table

*/

* {
    box-sizing: border-box;
}

/* 
looking for blues...
bayern blue: #0066b2
*/
body {
    margin: 0;
    background-color: #0066b2;
}

/* Navbar component css */

#main-navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav a:hover {
    color:inherit
}

.nav li.active {
    background-color: #555;
}

.nav li:hover {
    background-color: #777;
}

/* Form page css */

.survey-box {
    border: 2px solid #007BFF;
    padding: 20px;
    margin: 20px 0;
    width: 50%;
    border-radius: 8px; /* Rounded corners */
    background-color: #f0f8ff;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .question p {
    font-weight: bold;
  }
  
  .question label {
    margin-right: 10px;
  }

  .form-submit {
    margin-bottom: 20px;
    background-color: #f0f8ff;
    padding: 10px;
    color: black;
    border-radius: 8px;
    border: 2px solid #007BFF;
  }

  /* Data page css */

  .data-table {
    margin-top: 20px;
    background-color: white;
    border: 2px solid black;
  }